httpx[brotli,zstd]~=0.28.1
dotenv~=0.9.9
python-dotenv~=1.1.0
Flask~=3.1.0
celery~=5.5.2
playwright~=1.53.0
setuptools~=80.1.0
redis~=6.0.0
cryptography~=44.0.3
PyYAML~=6.0.2
aiofiles~=24.1.0
selenium~=4.34.0
gunicorn~=23.0.0
gevent~=25.5.1
SQLAlchemy~=2.0.41