# -- Required Configuration Section --
# Secret Key for AES

SECRET_KEY="123_CHANGE_ME"

# Redis Configuration for tasks and de-duplication

CELERY_BROKER_URL="redis://host"
CELERY_RESULT_BACKEND="redis://host"
TASK_LOG_BACKEND="redis://host/2"

# Discord Hooks

EVENT_HOOK=""
LOG_HOOK=""

# Service URL (e.g. https://whitney.yourdomain.com, http://127.0.0.1:5000)
BASE_URL=http://127.0.0.1

# Date Ranges
# Format: '[["START_DATE", "END_DATE", "ENABLED_DAYS_BITMASK], ...]'
# Date Format: yyyy-mm-dd
# Bitmask Format: 0 or 1 for each day of the week starting at Monday
# e.g. 0000011 is only Saturday and Sunday
# 0010000 is only Wednesday

DATE_RANGE='[["2025-05-20", "2025-05-31", "1111111"]]'

# ATC Token Validity Duration
# Controls how long ATC links are valid after they are sent via webhook in seconds
# 1800 = 30 minutes
ATC_VALIDITY_DURATION=1800

# Max Desired Permits
# Number of permits you want to reserve at a maximum
# Either supplied value or 15, whichever is less
MAX_PERMITS=5

# Discord Role [for pings]
# Copy and paste the role you want to ping when new dates are found
# You can safely leave this blank, but you wont get @role pings
ROLE_ID=

# -- Danger Zone - Enable these only if you know what you're doing! --

ENABLE_UNSAFE=FALSE

# Account Validation is a useful feature but can be exploited to perform brute-force attacks if your site is publicly exposed.
# You should only enable this if your site is secured behind a VPN or an authentication service (e.g. CF zero trust).

ENABLE_ACCOUNT_VALIDATION=FALSE

# You can provide a backup account here. This account will be used if a user hasn't configured their own.
# It is safe to use this feature when hosting publicly due to the ATC authorization protocol, however, webhook users will be able
# to add any permit to the cart of this account as frequently as they desire which is a risk you must consider.

USE_BACKUP_CREDENTIALS=FALSE

BACKUP_USERNAME=
BACKUP_PASSWORD=